<xf:if is="{$trophies.uncategorized} is not empty">
	<div class="block">
		<div class="block-container">
			<xf:if is="{{ count($trophyCategories) > 1 }}">
				<h2 class="block-header">
					{{ phrase('thuserimprovements_uncategorized') }}
				</h2>
			</xf:if>
			<div class="block-body">
				<xf:datalist>
					<xf:foreach loop="{$trophies.uncategorized}" value="$trophy">
						<xf:datarow
									label="{$trophy.title}"
									hint="{{ $trophy.th_hidden ? '[' . phrase('thuserimprovements_hidden_trophy') . ']' : '' }} {{ phrase('points:') }} {$trophy.trophy_points}"
									href="{{ link('trophies/edit', $trophy) }}"
									delete="{{ link('trophies/delete', $trophy) }}" />
					</xf:foreach>
				</xf:datalist>
			</div>
		</div>
	</div>
</xf:if>

<xf:foreach loop="$trophyCategories" key="$category_id" value="$category">
	<div class="block">
		<div class="block-container">
			<h2 class="block-header">
				{{ anchor_target('trophy_category_id' . $category.trophy_category_id) }}
				<a href="{{ link('trophies/thui-category/edit', $category) }}" class="u-pullRight">{{ phrase('edit') }}</a>
				{$category.title}
			</h2>
			<div class="block-body">
				<xf:if is="{$trophies.{$category_id}} is not empty">
					<xf:datalist>
						<xf:foreach loop="{$trophies.{$category_id}}" value="$trophy">
							<xf:datarow
								label="{$trophy.title}"
								hint="{{ phrase('points:') }} {$trophy.trophy_points}"
								href="{{ link('trophies/edit', $trophy) }}"
								delete="{{ link('trophies/delete', $trophy) }}" />
						</xf:foreach>
					</xf:datalist>
				<xf:else />
					<div class="block-row">
						{{ phrase('thuserimprovements_no_trophies_have_been_created_for_category_yet', {
							'link': link('trophies/add', null, {
								'trophy_category_id': $category_id
							})
						}) }}
					</div>
				</xf:if>
			</div>
		</div>
	</div>
</xf:foreach>